<?xml version="1.0"?>

<config>
    <modules>
        <My_NameNewsletter>
            <version>1.0.0</version>
        </My_NameNewsletter>
    </modules>

    <global>
        <models>
            <my_namenewsletter>
                <class>My_NameNewsletter_Model</class>
            </my_namenewsletter>
        </models>

        <resources>
            <my_namenewsletter_setup>
                <setup>
                    <module>My_NameNewsletter</module>
                </setup>
            </my_namenewsletter_setup>
        </resources>
    </global>

    <frontend>
        <routers>
            <newsletter>
                <args>
                    <modules>
                        <My_NameNewsletter before="Mage_Newsletter">My_NameNewsletter</My_NameNewsletter>
                    </modules>
                </args>
            </newsletter>
        </routers>
    </frontend>

</config>