<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <modules>
        <Nine_Newsletterone>
            <version>0.1.0</version>
        </Nine_Newsletterone>
    </modules>

    <newsletterone_setup>
        <setup>
            <module>Nine_Newsletterone</module>
            <class>Nine_Newsletterone_Model_Resource_Mysql4_Setup</class>
        </setup>
        <connection>
            <use>core_setup</use>
        </connection>
    </newsletterone_setup>

    <global>
        <models>
            <newsletter>
                <rewrite>
                    <subscriber>Nine_Newsletterone_Model_Subscriber</subscriber>
                </rewrite>
            </newsletter>
        </models>
    </global>

    <frontend>
        <routers>
            <newsletter>
                <args>
                    <modules>
                        <Nine_Newsletterone before="Mage_Newsletter">Nine_Newsletterone</Nine_Newsletterone>
                    </modules>
                </args>
            </newsletter>
        </routers>
    </frontend>
</config>